---
import restApiLogoRaw from '../../assets/images/icons/rest-api-logo.svg?raw';
import {getLangFromUrl, useTranslations} from '../../i18n/i18nUtils';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
const mail = 'irian@irian.codes';
const linkedInUrl = 'https://www.linkedin.com/in/irian-mont%C3%B3n-0b58358a/';
const respositoryUrl = 'https://github.com/irian-codes';
const phoneNumber = '+34611082305';
---

<div class="contact-section-container">
  <div class="contact-options-row">
    <a href=`mailto:${mail}` target="_blank" rel="noopener noreferrer">
      <div class="contact-container">
        <div class="contact-icon-container">
          <Fragment set:html={restApiLogoRaw} />
        </div>
        <div class="contact-option-title">Email</div>
      </div>
    </a>
    <a href=`${linkedInUrl}` target="_blank" rel="noopener noreferrer">
      <div class="contact-container">
        <div class="contact-icon-container">
          <Fragment set:html={restApiLogoRaw} />
        </div>
        <div class="contact-option-title">LinkedIn</div>
      </div>
    </a>
    <a href=`${respositoryUrl}` target="_blank" rel="noopener noreferrer">
      <div class="contact-container">
        <div class="contact-icon-container">
          <Fragment set:html={restApiLogoRaw} />
        </div>
        <div class="contact-option-title">GitHub</div>
      </div>
    </a>
    <a href=`tel:${phoneNumber}` target="_blank" rel="noopener noreferrer">
      <div class="contact-container">
        <div class="contact-icon-container">
          <Fragment set:html={restApiLogoRaw} />
        </div>
        <div class="contact-option-title">Phone</div>
      </div>
    </a>
  </div>
</div>

<style>
  .contact-section-container {
    color: rgb(var(--text-color));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    margin: auto;
    background-color: rgb(var(--light-background-color));
    border-radius: 10px;
    padding: 1rem;
  }
  .contact-options-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0.5rem 1rem;
  }
  a {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    .contact-icon-container {
      background-color: black;
    }
    .contact-icon-container :global(svg) {
      fill: rgb(var(--accent-color-1));
      transform: rotate3d(0, 1, 0, 180deg);
    }
  }
  .contact-icon-container {
    background-color: rgb(var(--accent-color-1));
    border-radius: 50%;
    padding: 10px;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
  }
  .contact-icon-container :global(svg) {
    height: 2rem;
    width: 2rem;
    fill: black;
    transition: all 0.4s;
  }
  .contact-option-title {
    text-align: center;
    margin-top: 0.5rem;
    color: rgb(var(--text-color));
  }
</style>
