---
import {Image} from 'astro:assets';
import restApiLogo from '../../assets/images/icons/rest-api-logo.svg';
import {getLangFromUrl, useTranslations} from '../../i18n/i18nUtils';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---

<div class="contact-section-container">
  <div class="contact-options-row">
    <div class="contact-container">
      <div class="contact-icon-container">
        <Image src={restApiLogo} class="contact-icon" alt="Email icon" />
      </div>
      <div class="contact-option-title">Email</div>
    </div>
    <div class="contact-container">
      <div class="contact-icon-container">
        <Image src={restApiLogo} class="contact-icon" alt="LinkedIn icon" />
      </div>
      <div class="contact-option-title">LinkedIn</div>
    </div>
    <div class="contact-container">
      <div class="contact-icon-container">
        <Image src={restApiLogo} class="contact-icon" alt="Github icon" />
      </div>
      <div class="contact-option-title">GitHub</div>
    </div>
    <div class="contact-container">
      <div class="contact-icon-container">
        <Image src={restApiLogo} class="contact-icon" alt="Phone icon" />
      </div>
      <div class="contact-option-title">Phone</div>
    </div>
  </div>
</div>

<style>
  .contact-section-container {
    color: rgb(var(--text-color));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    margin: auto;
    background-color: rgb(var(--light-background-color));
    border-radius: 10px;
    padding: 1rem;
  }
  .contact-options-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0.5rem 1rem;
  }
  .contact-icon-container {
    background-color: rgb(var(--accent-color-1));
    border-radius: 50%;
    padding: 10px;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-icon {
    height: 2rem;
    width: 2rem;
  }
  .contact-option-title {
    text-align: center;
    margin-top: 0.5rem;
    color: rgb(var(--text-color));
  }
</style>
