---
import {getLangFromUrl, useTranslations} from '../../i18n/i18nUtils';
import {defaultLanguageTag} from '../../i18n/i18n';
import WebsiteButton from './WebsiteButton.astro';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
const baseUrl = import.meta.env.BASE_URL;

const buttonUrl = (() => {
  const localeUrlPart = locale === defaultLanguageTag ? '' : `${locale}/`;

  return `${baseUrl}${localeUrlPart}irian-cv-${locale}.pdf`;
})();
---

<div class="cv-button">
  <a href={buttonUrl}>
    <WebsiteButton
      label={t('website.home.top-section.cv-button.label')}
      fluidMaxFontSizeInRem={2}
    />
  </a>
</div>
