---
import {getLangFromUrl, useTranslations} from '../../i18n/i18nUtils';
import {defaultLanguageTag} from '../../i18n/i18n';
import WebsiteButton from './WebsiteButton.astro';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
const baseUrl = import.meta.env.BASE_URL;

const buttonUrl = (() => {
  const localeUrlPart = locale === defaultLanguageTag ? '' : `${locale}/`;

  return `${baseUrl}${localeUrlPart}irian-cv-${locale}.pdf`;
})();
---

<div class="cv-button">
  <a href={buttonUrl}>
    <WebsiteButton label={t('website.home.top-section.cv-button.label')} />
  </a>
</div>

<script>
  import {mapRangeOntoAnother} from '../../utils/MathUtils';

  (function fluidScaling() {
    const cvButtons = Array.from(document.getElementsByClassName('cv-button'));

    const minWidth = 700;
    const maxWidth = 1080;
    const minScaleValue = 1;
    const maxScaleValue = 1.5;

    cvButtons.forEach((btn) => {
      (btn as HTMLButtonElement).style.transform = `scale(${mapRangeOntoAnother(
        {
          valueA: window.innerWidth,
          minA: minWidth,
          maxA: maxWidth,
          minB: minScaleValue,
          maxB: maxScaleValue,
        }
      )})`;
    });
  })();
</script>
