---
import LanguagePicker from '../components/website/LanguagePicker.astro';
import {getLangFromUrl, useTranslations} from '../i18n/i18nUtils';

// FONTS
import '@fontsource-variable/red-hat-display';
import '@fontsource-variable/rubik';
import '@fontsource/noto-sans/400.css';
import '@fontsource/noto-sans/700.css';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
const baseUrl = import.meta.env.BASE_URL;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const appVersion = import.meta.env.APP_VERSION ?? 'unknown';
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={baseUrl + 'apple-touch-icon.png'}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={baseUrl + 'favicon-32x32.png'}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={baseUrl + 'favicon-16x16.png'}
    />
    <link
      rel="mask-icon"
      href={baseUrl + 'safari-pinned-tab.svg'}
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <meta name="version" content={appVersion} />
    <link rel="canonical" href={canonicalURL} />
    <meta
      property="og:title"
      content={t('website.home.meta.open-graph.title')}
    />
    <meta
      property="og:description"
      content={t('website.home.meta.open-graph.description')}
    />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content={locale} />
    <title>Irian Codes</title>
  </head>
  <body>
    <nav>
      <LanguagePicker />
    </nav>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --base-color: 255, 255, 255;
    --accent-color-1: 124, 58, 237;
    --accent-color-2: 27, 154, 170;
    --background-color: 0, 0, 0;
    --light-background-color: 25, 27, 32;
    --text-color: 247, 247, 255;
    --heading-color-1: 247, 247, 255;
    --heading-color-2: 230, 230, 230;
  }
  html {
    background-color: rgb(var(--background-color));
    font-family: 'Noto Sans', system-ui, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik Variable', system-ui, sans-serif;
  }
  h1 {
    /* Fluid Typography created with https://modern-fluid-typography.vercel.app/?rootFontSize=16&minSize=38&fluidSize=3&relativeSize=1.3&maxSize=48 */
    font-size: clamp(2.5rem, 4vw + 1.2rem, 3rem);
    font-weight: 800;
    margin: 0;
    color: rgb(var(--heading-color-1));
  }
  div.subheading {
    font-family: 'Red Hat Display Variable', system-ui, sans-serif;
    font-size: clamp(1.625rem, 3vw + 0.65rem, 2rem);
    font-weight: 600;
    margin: 0;
    color: rgb(var(--heading-color-2));
  }
  h2 {
    font-size: clamp(2.5rem, 4vw + 1.2rem, 3rem);
    font-weight: 600;
    color: rgb(var(--accent-color-1));
    margin: 3rem 0 1rem 0;
    text-shadow: 2px 2px 6px rgba(var(--accent-color-1), 0.7);
    text-align: center;
  }
  .heading-underline {
    border: none;
    width: 8rem;
    height: 3px;
    background-color: rgb(var(--accent-color-1));
    margin: 2rem auto;
    text-align: center;
  }
  .spacer-global {
    width: 1px;
    height: 5rem;
  }
</style>
