---
import {getLangFromUrl} from '../i18n/i18nUtils';

export interface Props {
  title: string;
}

const {title} = Astro.props;
const locale = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --base-color: 255, 255, 255;
    --accent-color-1: 124, 58, 237;
    --accent-color-2: 27, 154, 170;
    --background-color: 0, 0, 0;
    --text-color: 247, 247, 255;
    --heading-color-1: 247, 247, 255;
    --heading-color-2: 230, 230, 230;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: rgb(var(--background-color));
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: rgb(var(--heading-color-1));
  }
  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: rgb(var(--heading-color-2));
  }
</style>
